@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    SPSU University Campus<br />
    Bhatewar, Udaipur - 313601, Rajasthan, India<br />
    <abbr title="Phone">P:</abbr>
    +91-294-7100000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@spsu.ac.in">support@spsu.ac.in</a><br />
    <strong>Admissions:</strong> <a href="mailto:admissions@spsu.ac.in">admissions@spsu.ac.in</a><br />
    <strong>Website:</strong> <a href="https://www.spsu.ac.in" target="_blank">www.spsu.ac.in</a>
</address>
