@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This website is operated by Sir Padampat Singhania University (SPSU), an initiative of JK Cement Ltd.</p>

<p>We are committed to protecting the privacy of our users and ensuring transparency in the collection and use of personal data.</p>

<p>No personal information is collected without user consent. Any data gathered through forms or interactions on this site is solely used for academic and institutional communication purposes.</p>

<p>By using this site, you agree to the terms of this privacy policy. For any concerns or questions, please contact us at <a href="mailto:info@spsu.ac.in">info@spsu.ac.in</a>.</p>
